h1,h2,h3,h3{
    color: #FFEACE!important;
}

h1,h2{
    /* font-family:Syne;  */
    /* display: inline-block;
    font-size: 32px;
    transform: scale(0.75, 1); */

    font-family: 'Nunito', sans-serif;
}

.header-title:hover{
    color:#2aa198 !important;
   
}
.header-title{
    color:#F4A896 !important;
   
}

/* h3{
    padding: 1rem 0;
} */

/* .rating span{
    margin: 0.1rem;
} */

.header{
    --bs-bg-opacity:0.2 !important;
    background-color: #358597 !important;
    font-family: 'Nunito', sans-serif;
    
}

/* .sticky{
    position: sticky;
    top: 0;
    width: 100%;
} */

.image-shadow{
   filter: drop-shadow(0.5rem 0.7rem 1rem #296073)
}

.shoppingcart-h1{
    font-size: 2.2rem;
    padding:1.8rem 0;
}

.shoppingcart-h2{
    font-size: 1.4rem;
    padding:0.8rem 0;
}

.shoppingcart-link{
    text-decoration: none;
}

.shoppingcart-link:hover {
    /* color: rgb(186, 194, 139); */
    color:#e83283
  }

  .trash-color{
      color: grey !important;
  }

  .trash-color:hover{
    color: rgb(183, 98, 98) !important;
    border-color:#e83283!important;
    
}

.btn-margin-top{
    margin-top:15px !important;
}

.form-spacing{
    margin-top:20px !important;
}

.centered{
    display: flex;
  justify-content: center;
  align-items: center;
}


.search-button{
    position:absolute;
    left:765px;
    top:17.15spx;
}

.btn-no-border{
    border-radius:  0!important;
}